/* -------------------
google fonts poppins
--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}

.body-design{
    width: 90%;
    margin: 0 auto;
}

/* sections hedear start */

.containter{
    display: flex;
    background-color: #161616;
    border-radius: 15px;

    height: 620px;
    align-items: center;
    padding-left: 35px;
    margin-bottom: 25px;

}
h1{
    font-size: 70px;
    font-weight: 700px;
    color: white;
}
.header-title p{
    color: white;
    font-size: 16px;
}

.half-width{
    width: 50%;
}
.banner-image{
    width:581 px ;
    height: 620px;
}
.btn{
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
}
/* feture sections */
.main-part{
    display: flex;
}
.feture{
    width: 23%;
    height: 100%;
    background-color: black;
    margin-left: 20px;
    text-align: center;
    border-radius: 2%;
    margin: 1%;
    padding: 2% 0;
   
}
.feture-inner{

}

.menu-btn{
    font-size: 18px;
    padding: 10px 50px;
    margin: 10px 20px;
    width:80%;
    border-radius: 5px;

}


.team-section{
    width: 73%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
}
.team{
    width: 31%;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin: 1%;


}

.team-data{
    text-align: center;
}

.team-vs{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;

}

/* footer */

footer{
    background-color: #161616;
    width: 100%;
    height:444px ;
}
footer p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-top: 100px;
}
hr{
    margin-left: 100px;
    margin-right: 80px;
    color: #fffffff9;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

    
