/* -------------------
google fonts poppins
--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


/* sections hedear start */

.containter{
    display: flex;
    background-color: #161616;
    border-radius: 15px;
    width: 1321px;
    height: 620px;
    align-items: center;
    padding-left: 35px;
    margin-bottom: 25px;

}
h1{
    font-size: 70px;
    font-weight: 700px;
    color: white;
}
.header-title p{
    color: white;
    font-size: 16px;
}

.half-width{
    width: 50%;
}
.banner-image{
    width:581 px ;
    height: 620px;
}
.btn{
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
}
/* feture sections */

/* footer */

footer{
    background-color: #161616;
    width: 1321px;
    height:444px ;
}
footer p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-top: 100px;
}
hr{
    margin-left: 100px;
    margin-right: 80px;
    color: #fffffff9;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

    
